h1 {
    color: rgb(193, 137, 245);
    margin-bottom: 60px;
}

h1, h3 {
    text-align: center;
}

table, form {
    width: 600px;
    margin: 60px auto;
}

table, tr {
    border: black 2px solid;
}

.tfoot_order {
    display: flex;
    justify-content: space-between;
}

.link {
    display: block;
    text-align: center;
}

/* Billet form part*/

.form {
    display: flex;
    flex-direction: column;
    border: 1px black solid;
}

.form_div, div {
    margin: 20px auto
}

/* Comment part*/

.comment_form {
    background-color: rgb(247, 152, 207);
}