header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.Titre_h1 {
    width: 70%;
}

h1 {
    color: rgb(193, 137, 245);
    margin-bottom: 60px;
    margin-left: 35%;
}

h1, h2, h3 {
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin-right: 15px;
}

table, form {
    width: 600px;
    margin: 60px auto;
}

table, tr {
    border: black 2px solid;
}

.tfoot_order {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: rgb(193, 137, 245);
}

a:hover {
    color: rgb(98, 22, 168);
} 

.link {
    display: block;
    text-align: center;
}

/* Billet form part*/

.form {
    display: flex;
    flex-direction: column;
    border: 1px black solid;
}

.form_div, div {
    margin: 20px auto
}

/* Comment part*/

.comment_form {
    background-color: rgb(247, 152, 207);
}