header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.Titre_h1 {
    width: 70%;
}

h1 {
    color: rgb(193, 137, 245);
    margin-bottom: 60px;
    margin-left: 35%;
}

h1, h2, h3 {
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin-right: 15px;
}

table, form {
    width: 600px;
    margin: 60px auto;
}

table, tr {
    border: black 2px solid;
}

.tfoot_order {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: rgb(193, 137, 245);
}

a:hover {
    color: rgb(98, 22, 168);
} 

.home_link {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Billet form part */

.form {
    display: flex;
    flex-direction: column;
    border: 1px black solid;
}

.form_div, div {
    margin: 20px auto;
}

/* Comment part */

.comment_form {
    background-color: rgb(247, 152, 207);
}

/* Account part */

.card {
    max-width: 450px;
    border: black solid 1px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 90px #00000024;
}

.card-body {
    padding: 10px 40px;
}

.name {
    margin-top: 30px;
    font-size: 22px;
    font-weight: bold;
    color: rgb(193, 137, 245);
}

.name:hover {
    margin-top: 30px;
    font-size: 24px;
    color: rgb(98, 22, 168);
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: #c74385;
    color: #ffffff;
    font-size: 20px;
    border-radius: 100%;
    text-decoration: none;
    margin: 0 13px 30px 0;
}

.social-icon:last-child {
    margin-right: 0;
}

.social-icon:hover {
    background-color: #d885af;
    text-decoration: none;
}

.card-footer {
    background-color: #c74385;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 20px 0 20px 0;
    margin: auto;
}